<div>
    <small>
        <a href="/admin/event">see events</a>
        <a href="/admin/blog">see blogs</a>
    </small>
    <h1>users registered</h1>
    <div>
        <% getUsers.forEach((user) => { %>
        <div>
            <div>
                <h3>username: <%= user.username %></h3>
            </div>
            <div>
                <h3>name: <%= user.firstName %> <%= user.lastName %></h3>
            </div>
            <div>
                <h3>sex: <%= user.sex %></h3>
            </div>
            <div>
                <h3>email: <%= user.email %></h3>
            </div>
        </div>
        <hr>
        <hr>
        <% }) %>
    </div>
</div>