<% include ../partials/header %>

<section id="blog-page-header">
    <div class="jumbotron d-flex justify-content-center align-items-center">
        <h1 class="text-center text-white py-auto">the best articles for your events</h1>
    </div>
</section>

<section id="blog-page-body" class="mt-5">
    <div class="px-md-5">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <% findBlog.forEach((blog) => { %>
                    <div class="col-lg-6 p-0">

                        <div class="card mt-5" style="max-width: 34rem;">
                            <img src="<%= blog.image %>" class="card-img-top" alt="<%= blog.title %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= blog.title %></h5>
                                <p class="card-text"><%- blog.description.substring(0, 100) %></p>
                                <p class="card-text"><small class="text-muted">updated on
                                        <%= blog.dateCreated.toDateString() %> <br> by <%=blog.author.username%></small>
                                </p>
                                <a href="/blog/<%=blog.id%>" class="btn btn-secondary"><span
                                        class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only"></span>read it!...</a>
                            </div>
                        </div>

                    </div>
                    <%})%>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="banner d-lg-flex justify-content-center align-items-center sticky-top mt-5">
                    <h3 class="text-white">
                        AD banner
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>