<% include ../partials/header %>


<form action="/event/<%=showEdit.id%>?_method=PUT" method="post">
    <div>
        <label for="">title</label>
        <input name="title" value="<%=showEdit.title%>" type="text">
    </div>
    <div>
        <label for="">description</label>
        <textarea name="description" id="" cols="30" rows="10"><%=showEdit.description%></textarea>
    </div>
    <div>
        <label for="">city</label>
        <input value="<%=showEdit.city%>" name="city" type="text">
    </div>
    <div>
        <label for="">venue</label>
        <input value="<%=showEdit.venue%>" name="venue" type="text">
    </div>
    <div>
        <label for="">images</label>
        <input value="<%=showEdit.images%>" name="images" type="text">
    </div>
    <button>post</button>
    
</form>

<% include ../partials/footer %>
