<% include ../partials/header %>


<h1>event index</h1>
<small>
    <a href="/event/new">create new eventS</a>
</small>

<form action="/paystack/pay" method="post">
    <input type="text" name="full_name" placeholder="name">
    <input type="email" name="email" placeholder="email">
    <input type="number" name="amount" placeholder="amount">
    <button>donate</button>
</form>

<% findEvent.forEach((event) => { %>
    <div>
        <div>
            <h2><%= event.title %></h2>
        </div>
        <div>
            <p><%= event.description %></p>
        </div>
        <div>
            <p><%= event.city %></p>
        </div>
        <div>
            <p><%= event.venue %></p>
        </div>
        <div>
            <a href="/event/<%=event.id%>">see more</a>
        </div>
    </div>
<% }) %>

<% include ../partials/footer %>

