<% include ../partials/header %>


<h1>event index</h1>
<small>
    <a href="/event/new">create new eventS</a>
</small>



<% findEvent.forEach((event) => { %>
    <div>
        <div>
            <h2><%= event.title %></h2>
        </div>
        <div>
            <p><%= event.description %></p>
        </div>
        <div>
            <p><%= event.city %></p>
        </div>
        <div>
            <p><%= event.venue %></p>
        </div>
        <div>
            <a href="/event/<%=event.id%>">see more</a>
        </div>
        <%if(event.author) { %>
            by <a href="/users/<%=event.author.id%>"><%=event.author.username%></a>
        <%}%>
    </div>
<% }) %>

<% include ../partials/footer %>

