<% include ../partials/header %>


<h1>event show</h1>

<div>
    <div>
        <h2><%= event.title %></h2>
    </div>
    <div>
        <p><%= event.description %></p>
    </div>
    <div>
        <p><%= event.city %></p>
    </div>
    <div>
        <p><%= event.venue %></p>
    </div>
    <% event.images.forEach((image) => { %>
    <div>
        <img src="<%= image %>" alt="image">
    </div>
    <%})%>
    <div>
        <a href="/event/<%=event.id%>/edit">edit</a>
    </div>
    <div>
        <form action="/event/<%=event.id%>?_method=DELETE" method="POST">
            <button>delete event</button>
        </form>
    </div>
</div>

<% include ../partials/footer %>